<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.malouane.popularmovies">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

  <application
      android:name=".PopMovisApp"
      android:allowBackup="true"
      android:fullBackupContent="@xml/backup_descriptor"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      tools:ignore="GoogleAppIndexingWarning">

    <activity android:name=".ui.main.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".ui.detail.MovieDetailActivity"
        android:theme="@style/MovieDetailTheme"/>

    <provider

        android:name=".data.database.FavoritesMovieProvider"
        android:authorities="com.malouane.popularmovies.provider"
        android:exported="true"
        android:permission="com.malouane.popularmovies.provider.READ_WRITE" />
  </application>

</manifest>